{% if form.non_field_errors %}

    {% for error in form.non_field_errors %}
        <div class="form-group has_error">
            <div class="col-sm-12 text-center">
            <span class="error text-danger">
            {{ error }}
                </span>
            </div>
        </div>
    {% endfor %}

{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}


{% for field in form.visible_fields %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">

        <label class="col-sm-2 control-label">{{ field.label }}:{% if field.field.required %}*{% endif %}</label>

        <div class="col-sm-10">
            <span class="error text-danger">{{ field.errors }}</span>

            {{ field }}

            {% if field.help_text %}
                <span class="help-block m-b-none">{{ field.help_text|safe }}</span>
            {% endif %}
        </div>

    </div>
{% endfor %}