{% extends 'base.html'  %}
{% load humanize  static %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="{% static 'editor/css/editor.dataTables.css' %}" rel="stylesheet"/>

{% endblock %}

{% block main_content %}
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Attachments</span>
            <h4>{{ object.get_attached_files_count }}</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Parser Name </span>
            <h4>{{ object.parser|default:'Default' }}</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Date</span>
            <h4>{{ object.created_at|date:'d-m-Y f A' }}</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Status</span>
            <h4>{{ object.get_status_display }}</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Tasks</span>
            <h4>{{ object.get_task_count }}</h4>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Inventory</span>
            <h4>{{ object.get_inventory_count }}</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="table-responsive">
                <table id="example" class="table table-striped jambo_table ">
                    <thead>
                    <tr>
                        <th style="display: none">row_Id</th>
                        {% for header in object.get_headers %}

                            <th>{{ header }}</th>
                        {% endfor %}
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% comment %}{% for row in object.get_inventory %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}{% endcomment %}

                </table>
            </div>

            {% comment %}
        <div class="x_panel">
            <div class="x_title">
                <h2> <i class="fa fa-file"></i>&nbsp;Files</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    {% for file in object.get_attached_files %}
                    {{ file.data_file }} <br>
                    {% endfor %}

                </div>
            </div>
        </div>

        {% endcomment %}
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <i class="fa fa-history"></i>&nbsp;Tasks</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">

                        <ul class="list-unstyled timeline">
                            {% for task in object.ingestion_tasks.all %}

                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            <a href="" class=" tag">
                                                <span class="">{{ task.get_status_display }}</span>
                                            </a>
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>{{ task.get_task_display|capfirst }}</a>
                                            </h2>

                                            <p>{{ task.notes|default:'' }}</p>
                                            <div class="byline">
                                                <span>{{ task.created_at|naturaltime }}</span>
                                            </div>
                                            {% if user.is_staff %}
                                                <p class="excerpt">

                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>


                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h2> <i class="fa fa-envelope"></i>&nbsp;Notifications</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">

                        {% with object.txt_notifications.all as txt_notifications %}
                            {% if txt_notifications %}

                                <ul class="list-unstyled timeline">
                                    {% for txt_notification in txt_notifications %}
                                        <p>{{ txt_notification.msg|safe }} </p>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-center">
                                <h5> No notification sent</h5>
                                </p>
                            {% endif %}

                        {% endwith %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block extra_footer_js %}


    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
    <script src="{%  static 'editor/js/dataTables.editor.js' %}"></script>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples
        $.noConflict();
        jQuery(document).ready(function() {
            editor = new jQuery.fn.dataTable.Editor( {
                ajax:  {
                    url: '/api/inventory/update/_id_/',
                    contentType: 'application/json',
                    data: function ( d ) {
                        return JSON.stringify( d );
                    }
                },
                idSrc: "row_Id",
                table: "#example",
                fields: [
                    {% for header in object.get_headers %}
                        {
                            label: '{{ header }}',
                            name: '{{ header }}'
                        },

                    {% endfor %}

                ],
                formOptions: {
                    inline: {
                        onBlur: 'submit'
                    }
                }
            } );

    // Activate an inline edit on click of a table cell
    $('#example').on( 'click', 'tbody td', function (e) {
        editor.inline( this );
    } );

            jQuery('#example').DataTable( {
                dom: "Bfrtip",
                pageLength: 50,
                ordering: false,
                searching: false,
                processing: true,
                serverSide: true,
                ajax: "/api/inventory/{{ object.pk }}/?format=datatables",
                rowId: "row_Id",
                columns: [
                    {data: 'row_Id', visible: false  },
                    {% for header in object.get_headers %}
                        { data: '{{ header }}' },
                    {% endfor %}

                    { data: 'status'},
                    { data: 'action'},
                ],

                buttons: [],
                keys: {
                    columns: ':not(:nth-last-child(-n+2))',
                    editor: editor,
                    {#editOnFocus: true#}
                },
            } );
        });
    </script>
{% endblock %}
