{% extends 'base.html'  %}

{% block main_content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ingestion</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        {% if user.is_staff %}
                        <th>Client</th>
                        {% endif %}
                        <th>Subject</th>
                        <th>can process</th>
                        <th>Status</th>
                        <th>Files</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if user.is_staff %}
                        <td>{{ object.get_agent|default:'' }} </td>
                        {% endif %}

                        <td>{{ object.subject }}</td>
                        <td>{% if  object.can_process %}
                            <i class="fa fa-check-circle-o text-success"></i>
                            {% else %} <i class="fa  fa-times-circle-o text-danger"></i> {% endif %}</td>
                        <td>{{ object.get_status_display }}</td>
                        <td>{{ object.get_attached_files_count }}</td>
                        <td>{{ object.created_at }}</td>
                        <td>{{ object.updated_at }}</td>
                        <td>
                            <a href="{% url 'ingestion:ingestion_detail' object.id %}">View</a>
<!--                            <a href="#">Edit</a> -->
<!--                            <a href="#">Delete</a>-->
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}