{% load humanize users_tags clients_tags parser_tags ingestion_tags   %}


<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i>&nbsp;Clients</span>
        <div class="count">{% get_client_count %}</div>
        <!--        <span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-users"></i> Agent</span>
        <div class="count">{% get_agent_count %}</div>
        <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-cogs"></i> Parsers</span>
        <div class="count green">{% get_parser_count %}</div>
        <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-paper-plane"></i> Total Ingestion </span>
        <div class="count">{% get_ingestion_count %}</div>
        <!--        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-paper-plane"></i> Total Ingestion - Success</span>
        <div class="count">{% get_success_ingestion_count %}</div>
        <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-paper-plane"></i> Total Ingestion - Failed</span>
        <div class="count">{% get_failed_ingestion_count %}</div>
        <!--        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-4  col-xs-12">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <i class="fa fa-info-circle"></i>&nbsp;Email attention</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        {% get_action_required_agent as agents %}
                        {% if  agents%}
                        {% for agent in agents %}
                        <p>
                            <span><a href="{% url 'clients:agent_edit' agent.pk %}">{{ agent.email }}</a></span>
                            <span class="pull-right">{{ agent.created_at|naturaltime }}</span>
                        </p>
                                                {% if not forloop.last %}<hr> {% endif %}

                        {% endfor %}
                        {% else %}
                        <p class="txt-center">
                        <h4 >No item require attention !</h4>
                        </p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <i class="fa fa-info-circle"></i>&nbsp;User attention</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="">
                        {% get_unknown_users as users %}
                        {% if  users %}
                        {% for user in users %}
                        <p>
                            <span><a href="#">{{ user.username }}</a></span>
                            <span class="pull-right">{{ user.created_at|naturaltime }}</span>
                            <span class="pull-right"><a href="" class="btn btn-success btn-xs">Configure & Activate</a></span>

                        </p>
                        {% if not forloop.last %}<hr> {% endif %}
                        {% endfor %}
                        {% else %}
                        <p class="txt-center">
                        <h4 >No item require attention !</h4>
                        </p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> <i class="fa fa-list"></i> Recent Ingestions</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">



                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Client's Agent</th>
                                    <th>subject</th>
                                    <th>can process</th>
                                    <th>status</th>
                                    <th>Files</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% get_recent_ingestions as ingestions %}
                                {% for ingestion in ingestions %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ ingestion.agent.email }}</td>
                                    <td>{{ ingestion.subject }}</td>
                                    <td>{% if  ingestion.can_process %}
                                        <i class="fa fa-check-circle-o text-success"></i>
                                        {% else %} <i class="fa  fa-times-circle-o text-danger"></i> {% endif %}</td>
                                    <td>{{ ingestion.get_status_display }}</td>
                                    <td>{{ ingestion.get_attached_files_count }}</td>
                                    <td>
                                        <a href="{% url 'ingestion:ingestion_detail' ingestion.id %}">View</a>
                                        <!--                            <a href="#">Edit</a> -->
                                        <!--                            <a href="#">Delete</a>-->
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>